body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  padding: 0.5rem
}

main {
  height: 100%;
}

.map {
  height: 100%;
  background-color: #eee;
}

.polling-place-name {
  display:block;
  font-weight: bold;
}
